.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.DS_Store
runs/
exp_main/
paper_figures/
frontend/
cowFitnessApp/
backend/data_breed/
backend/data_fitness/
backend/data_species/
data_breed/
data_fitness/
data_species/
*.ipynb
